<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gzy.mapper.CustomerMapper">
    <select id="findUserByLogin" parameterType="cn.gzy.entity.Customer" resultType="cn.gzy.entity.Customer">
        select  *  from  customer where customer_phone=#{customerPhone} and
                                      customer_password=#{customerPassword}
    </select>
</mapper>




